@page "/"

<PageTitle>@localizer["Home"]</PageTitle>

<MudBreadcrumbs Items="_items" Separator=">"></MudBreadcrumbs>
<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6" Outlined="true">
    <MudTabPanel Text="Tasks List" Icon="@Icons.Material.Filled.Task">
       <MudGrid>
            <MudItem xs="3">
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                        <MudChart ChartType="ChartType.Donut" InputData="@data" InputLabels="@labels" xs="12" sm="6" md="4">
                            <CustomGraphics>
                                <text class="donut-inner-text" x="47%" y="35%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="2">Total</text>
                                <text class="donut-inner-text" x="47%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="5">@data.Sum().ToString()</text>
                            </CustomGraphics>
                        </MudChart>
                </MudPaper>
            </MudItem>
            <MudItem xs="3">
                <div>
                    <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="50%" Height="100px" xs="12" sm="6" md="4"></MudChart>
                </div>
            </MudItem>
            <MudItem xs="3">
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                    <MudPaper Class="py-4 px-6 rounded-lg d-flex align-center">
                        <div class="flex-grow-1">
                            <MudText Typo="Typo.h6">Graphite on roof</MudText>
                            <div class="d-flex align-center my-1">
                                <MudAvatar Class="me-2 pa-4" Style="background-color: var(--mud-palette-primary-hover);" Size="Size.Small">
                                    <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.TrendingDown" Size="Size.Small" />
                                </MudAvatar>
                                <MudText Typo="Typo.subtitle2">+2.6%</MudText>
                            </div>
                            <MudText Typo="Typo.h4">149,567</MudText>
                        </div>
                  @*       <div class="d-flex align-end justify-end mud-height-full py-8">
                            <MudPaper Height="80%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                            <MudPaper Height="95%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                            <MudPaper Height="90%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                            <MudPaper Height="85%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                            <MudPaper Height="65%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                            <MudPaper Height="52%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                            <MudPaper Height="40%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                            <MudPaper Height="38%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                            <MudPaper Height="36%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                            <MudPaper Height="20%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                        </div> *@
                    </MudPaper>
                </MudPaper>
            </MudItem>
            <MudItem xs="3">
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=3</MudPaper>
            </MudItem>
       </MudGrid>
    </MudTabPanel>
    <MudTabPanel Text="Calendar" Icon="@Icons.Material.Filled.CalendarMonth">
        <MudText>Content Two</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Board" Icon="@Icons.Material.Filled.Dashboard">
        <MudText>Content Three</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Tab Disabled" Disabled="true">
        <MudText>Content Disabled</MudText>
    </MudTabPanel>
</MudTabs>


@code{
    [Inject]
    public IStringLocalizer<Resource> localizer {get; set;}

    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;

    private int Index = -1; //default value cannot be 0 -> first selectedindex is 0.

    public List<ChartSeries> Series = new List<ChartSeries>()
    {
        new ChartSeries() { Name = "United States", Data = new double[] { 40, 20, 25, 27, 46, 60, 48, 80, 15 } },
        new ChartSeries() { Name = "Germany", Data = new double[] { 19, 24, 35, 13, 28, 15, 13, 16, 31 } },
        new ChartSeries() { Name = "Sweden", Data = new double[] { 8, 6, 11, 13, 4, 16, 10, 16, 18 } },
    };
    public string[] XAxisLabels = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep" };

    public double[] data = { 25, 77, 28, 5 };
    public string[] labels = { "Oil", "Coal", "Gas", "Biomass" };

    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Home", href: "#"),
        new BreadcrumbItem("Link 1", href: "#"),
        new BreadcrumbItem("Link 2", href: null, disabled: true)
    };

    // Data Grid
  
}